/* 
  Reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */


/********** FONTS ************/

html {
    font-family: Arial, Helvetica, sans-serif;
    color:#666;
    font-size:14px;
    line-height:1.4em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', GillSansMT, GillSans, Helvetica, Arial, sans-serif;
    font-weight:normal;
    color:#444;
    line-height: 1.1em;
}

h1 {
    text-transform:lowercase;
    font-weight:normal;
    font-size:40px;
    color:orange;
}

h2 {
    font-size:24px;
}

h3,h4 {
    font-size:18px;
    
}

h5, h6 {
    font-size:14px;
}

blockquote {
   font-style:italic;
}

address {
   font-style:normal;
}

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }



/********* LINKS *********/

a:link,
a:hover,
a:visited,
a:active {
    text-decoration:none;
    border:none;
    color:#99cc33;
    font-weight:normal;
    outline: none;
}

a:hover {
    text-decoration:underline;
    color:#006600;
}

a:visited {
   /*color:rgb(192,246,66);
   color:#cc9966;*/
}  

a.wraplink {
    text-transform: none;
    text-decoration: none;
    color:#666;
    font-weight:normal;
}

a.wraplink h2:after {
    content: " \bb";
}

a.drilldown {
    text-transform: none;
    text-decoration: none;
    color:orange;
    font-weight:bold;
}

a.drilldown:after {
    content: " \bb";
}

/******* BUTTONS **********/

.submit-row {
    margin:20px 0;
}

button, .button {
    font-size: 18px;
    color: #fff;
    padding:8px 12px;
    text-decoration: none;
    border:none;
    border-radius: 8px;
}

.primary {
    background: orange; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#ff9900'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9900)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ffcc00,  #ff9900); /* for firefox 3.6+ */ 
}

.secondary  {
    background: #ccc; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #cccccc,  #999999); /* for firefox 3.6+ */ 
    
}

a.button:link,
a.button:visited {
    color: #fff;
    text-decoration: none;
}

a.button:hover,
a.button:active {
    background-color: orange;
}


/******* GLOBAL LAYOUT **********/

body {
    width:980px;
    margin:0 auto;
    padding:0;
}

body > header {
    width:960px;
    margin:0 10px;
    overflow:hidden;
}

body > #content {
}

body > footer {
    clear:both;
    width:960px;
    margin:30px 10px;
    overflow:auto;
}



/********** GLOBAL ELEMENTS ********/
p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin-bottom:12px;
}

li {
    list-style: none;
}

/********** GLOBAL HEADER ***********/

body > header > h1 {
    clear:both;
    float:left;
    width:220px;
    margin:0 10px 0 0;
    overflow:auto;
}

body > header > h1 a {
    display:block;
    width:220px;
    height:0;
    margin-top:10px;
    overflow:hidden;
    padding:79px 0 0 0;
    background:url("img/gfc_logo2.png") no-repeat;
    font-size:6px;
}

body > header > nav {
    float:left;
    width:720px;
    margin:0;
}

body > header > nav > #accounts {
    margin:0 10px 25px 0;
    overflow: hidden;
    text-align:right;
}

body > header > nav > #accounts li {
    text-transform:uppercase;
    font-size:10px;
    font-weight:bold;
    display:inline;
    padding:0;
}

body > header > nav > #accounts a {
    font-weight:bold;
    color:#999;
    padding:12px 12px;
    background:#efefef;
    margin:0;
    line-height:36px;
}

body > header > nav > #sections {
    width:480px;
    padding:0;
    margin:0 10px;
    font-size:16px;
    text-align: center;
}

body > header > nav > #sections li {
    float:left;
    width:160px;
    padding:0;
}

body > header > nav > #sections a,
body > header > nav > #sections a:link,
body > header > nav > #sections a:visited,
body > header > nav > #sections a:active {
    width:140px;
    padding:6px 10px;
    color:#99cc33;
    font-weight: normal;
    text-transform:uppercase;
    text-decoration: none;
}

body > header > nav > #sections a:hover {
    color:#006600;
}

body#explore > header > nav > #sections li.explore a,
body#resources > header > nav > #sections li.resources a,
body#share > header > nav > #sections li.share a {
    color:#fff;
    background:orange;
}

body > header > nav > #search {
    overflow:hidden;
    width:220px;
    margin:0;
    padding:0;
    text-align:center;
}

body > header form {
    margin:0;
    padding:0;
}

body > header input {
     width:210px;
     margin:0;
}

body > header label {
    margin:0;
    padding:0;
    font-size:12px;
}

/********** GLOBAL FOOTER ***********/
body > footer {
    border-top:1px dotted #ccc;
    margin-top:20px;
    padding-top:5px;  
    overflow:auto;
    color:#999;
    font-size:12px;
}

body > footer > #copyright {
    float:left;
    width:460px;
}

body > footer > nav {
    float:right;
    width:460px;
    text-align:right;
}

body > footer li {
    display:inline;
}


/********** GLOBAL CONTENT LAYOUT ***********/
#content {
    clear:both;
	margin-top:30px;
}

#content > nav,
#content > aside,
#content > section,
#content > div {
	float:left;
	overflow:hidden;
}

#content > nav,
#content > aside,
#content > div {
    margin:0 10px 10px 10px;
}

#content > .list {
	width:700px;
}

#content > .detail,
#content > .info {
    width:620px;
}

#content > nav {
    width:209px;
    padding-left:10px;
    border-left:1px solid #ccc;
}

#content > aside {
	width:300px;
}


/********** GLOBAL CONTENT ***********/
#content > header {
   margin:0 10px 10px 10px;
}

#content > header img {
   float:left;
   margin-right:10px;
}

#content > header h1 {
  
}

#content aside h2,
#content nav h2 {
	text-transform: uppercase;
	font-size:18px;
	color:#999;
	border-bottom:1px dotted #ccc;
}

.focus {
}


article.article img {
	margin:0 -10px;
}

article.link {
    margin-bottom:20px;
}

.project-teaser {
    float:left;
    width:150px;
    height:150px;
    line-height:1.1em;
    margin:0;
    padding:0;
}

.project-teaser p {
    margin-right:10px;
    padding:0;
    bottom:0;
}

.project-teaser a {
    font-size:12px;
}

.posted {
    font-size:12px;
    color:#999;
}
/**** popovers *****/

.tooltip-content {
    	display: none;        /* required */
    	position: absolute;   /* required */
    	padding: 10px;
    	border: 1px solid black;
    	background-color: #efefef;
    	width:200px;
    	font-size:12px;
        line-height:15px;
    	z-index:1000;
    	box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
    	-moz-box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
    	-webkit-box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
    }
    
    .tooltip-content h4 {
        margin:0;
        padding:0;
        font-size:14px;
    }
    
    .tooltip-content p {
        margin:5px 0 0 0;
        padding:0;
        font-size:12px;
        line-height:15px;
    }
    
    .tooltip-content p.categories {
        margin:10px 0 0 0;
        padding:5px 0 0 0;
        border-top:1px solid #ccc;
        font-style: oblique;
        color:#999;
    }
	
/**** slideshow ****/
#slideshow {
    position:relative;
    clear:both;
	width:620px;
	height:350px;
    margin:0;
	padding:0;
}

#slideshow li {
    position:relative;
	border:1px solid #ccc;
	overflow:hidden;
	height:348px;
	width:618px;
}

/* for ie 7 */
#slideshow a:link,
#slideshow a:hover,
#slideshow a:visited,
#slideshow a:active {
    color:#fff;
}

#slideshow .caption {
    position:absolute;
    width:598px;
    bottom:0px;
    left:0px;
    padding:10px 10px 13px 10px;
    margin:0 0 0 0;
	background:transparent url(img/transparent.png); /* for IE 7 and 8 */
    background: rgba(0,0,0,0.6);
    color:#fff;
    color:rgb(255,255,255);
    font-size:14px;
    line-height:17px;
	
}

/* for ie 7 */
#slideshow .caption a:link,
#slideshow .caption a:hover,
#slideshow .caption a:visited,
#slideshow .caption a:active {
    color:orange;
}

#slideshow .caption a:hover {
   color: #ccff99;
   text-decoration:none;
}


#slideshow .control {
    position:absolute;
    top:0px;
    z-index:20;
    display:block;
    overflow:hidden;
    width:0px;
    height:260px;
    margin:0;
    padding:0;
    background:transparent url(img/spacer.png); /* for IE 7 and 8 */
    text-decoration:none;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}

#slideshow a,
#slideshow a.control,
#slideshow a.control:link,
#slideshow a.control:active,
#slideshow a.control:visted,
#slideshow a.control:hover {
	color:#fff;
	color:rgba(255,255,255,0.7);
}

#slideshow .control span {
   line-height:260px;
   padding:0 20px;
   margin:0 0 0 0;
   background:transparent url(img/transparent.png); /* for IE 7 and 8 */
   background:rgba(0,0,0,0.5);
   color:#fff;
   color:rgba(255,255,255,0.7);
   font-size:72px;
   text-decoration:none;
   -webkit-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
}

#slideshow .prev {
   z-index:20;
   left:0px;
   text-align:left;
   width:200px;
   margin-left:-200px;
   padding:0 200px 0 0;
}

#slideshow .prev span {
   border-left:0;
}

#slideshow .next {
   right:1px;
   text-align:right;
   padding:0 0 0 200px;
}

#slideshow .prev span {
   border-right:0;
}

#slideshow .prev:hover,
#slideshow .next:hover {
   padding:0 0 0 0;
   width:200px;
}

#slideshow .prev:hover {
    margin-left:1px;
}

#slideshow .zoom {
   left:200px;
   width:220px;
   text-align:center;
   padding:0;
   z-index:20;
   display:block;
}

#slideshow .zoom span {
  opacity:0;
  /* for ie 7 and 8 */
  display:none;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);					
}

#slideshow .zoom:hover span {
  opacity: 1.0;
  display:inline;	
}

#slideshow .hold {
   padding:0;
   width:200px;
}

#slideshow .simple {
   position:static;
   padding:0 0 0 0;
   width:auto;
   text-align: left;
}

/********* FORMS **********/
#content form {

}

#content form > ul {

}

#content form > ul > li {
    margin:10px 0;
    padding:5px;
    border-top:1px solid #ccc;
}

#content form ul > li label {
    display:block;
    font-weight:bold;
}

#content form ul > li input,
#content form ul > li textarea {
    display:block;
    width:600px;
    border:1px solid #444;
    font-size:14px;
    color:#666;
    padding:4px;
}


#content form ul > li textarea {
    height:400px;
}

#content form ul > li select {
    display:block;
}

#content form ul > li input[type="file"] {
    border:0;
}

#content form ul > li input[type="checkbox"] {
    display:inline;
}

#content form .submit-row {
    margin-top:20px;
    border:none;
}

#content form .errorlist {
    color:red;
}

#content form .error input,
#content form .error textarea {
    border:2px solid red;
}



/********* SECTION: HOME **********/

#home #content aside h2,
#home #content nav h2,
#home #content div h2 {
	font-size:36px;
    color:orange;
	line-height:1.3em;
    text-transform:lowercase;
    font-weight:normal;
	border:none;
	padding:0;
	margin:0 0 10px 0;
}

#home h3 {
    font-size:24px;
	line-height:1.2em;
}

#home section.resources {
    float:left;
    width:300px;
    margin:0 0 0 10px;
}



/********* SECTION: PORTFOLIO **********/
#project li {
    list-style: none;
}

#project header {
    margin:0;
    position:relative;
    height:48px;
}

#project > section {
}

.project-type {
    display:block; 
    position:absolute; 
    top:1px;
    right:24px;
    z-index:2000; 
    text-transform:uppercase;
    font-weight:bold;
    line-height:2em;
    font-size:12px;
    text-align:center;
    width:125px;
    height:24px;
    color:#efefef;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin:top right;
    -o-transform: rotate(-90deg);
    -o-transform-origin: top right;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: top right;
    -webkit-transform: rotate(-90deg); 
    -webkit-transform-origin: top right;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.no-csstransforms .project-type {
    top:1px;
    right:1px;
}

.project-type.precedent {
    background:#54c1ef;
}

.project-type.idea {
    background:orange;
}

/**** classification ****/
#categorization {
    margin:0;
    padding:0;
}

ul.category-list li {
    margin:0 5px 0 0;
    padding:0;
    border:none;
    float:left;
}

ul.category-list li:last-child{
    margin:0;
}

ul.category-list li a {
    float:left;
    overflow:hidden;
    background-repeat:no-repeat;
    background-position:0px 0px;
    font-size:12px;
}

p.tags {
    clear:both;
    margin-top:10px;
    font-size:12px;
}


#designers {
    font-size:12px;
    margin-bottom:20px;
}


#designers h4:first-child {
    margin:20px 0 10px 0;
}

/****** related ideas *****/
aside#related-ideas {
	clear:both;
	overflow:auto;
	margin:20px 0;
}

aside#related-ideas li {
    float:left;
    width:150px;
}

aside#related-ideas p {
    font-size:12px; margin-right:10px;line-height:1.1em;
}

aside#related-resources > section.resources ul {
    margin-left:20px;
}

aside#related-resources > section.resources li {
    list-style: square;
    padding:1px 0;
    line-height:1.2em;
}



/****** comments ******/
#comments label {
    margin:0;
    padding:0;
    display:block;
    font-size:12px;
    color:#333;
}

#comments p {
    color:#999;
}

#comments .commenter {
    font-size:12px;
}

#comments input[type=text] {
    margin:0;
    padding:3px;
    border:1px solid #000;
    width:318px;
    font-size:12px;
}
 
#comments textarea {
    margin:0;
    padding:3px;
    border:1px solid #000;
    width: 592px;
    height:200px;
}

article.comment {
    margin:10px 0;
}
.comment-text {
    padding:10px;
    background:#efefef;
}

/***** Idea List ******/
article.card {
    position:relative;
	float:left;
    height:280px;
	width:220px;
	margin:0 10px 10px 0;
	overflow:hidden;
	border:1px solid #ccc;
}

article.card span.project-type {
    top:0px;
    right:24px;
}

article.card.idea span.project-type {
    background:orange;
    background:rgb(255,155,0);
}

article.card.precedent span.project-type {
    background:#54c1ef;
    background:rgb(84,193,239);
}

article.card h2,
article.card h3 {
    font-size:16px;
}

article.card section.description {
    font-size:12px;
    margin:0 5px;
}

article.card p.location {
    position:absolute;
    left:0;
    bottom:0;
}

article.card footer ul {
    position:absolute;
    bottom:10px;
    left:10px;
}

article.card footer li {
    margin:0 5px 0 0;
    padding:0;
    border:none;
    float:left;
    list-style: none;
}

article.card footer li:last-child{
    margin:0 0 0 0;
}

article.card footer li a {
    float:left;
    overflow:hidden;
    background-repeat:no-repeat;
    background-position:0px 0px;
    font-size:12px;
}



/********* SECTION: RESOURCES *********/
div.resources {
    float:left;
    width:440px;
    margin-right:10px;
}

div.resources img {
    padding:10px 0;
}

div.resources + div.resources {
    width:220px;
    margin-left:10px;
}

section#precedents article.precedent {
    float:left;
    width:220px;
    height:220px;
    margin-bottom:10px;
}

article.precedent h4 {
    font-size:14px;
    margin-bottom:5px;
}

article.precedent section.description {
    width:210px;
}

p.view-all {
    clear:both;
}

article.essay,
article.link,
article.contact {
    padding-bottom:10px;
    border-bottom:1px dotted #ccc;
    margin-bottom:10px;
}

/********* SECTION: ABOUT *********/
