<div id="header">
  <div id="header_left"><a href="http://www.communityprogress.net/"><img src="filebin/images/logo.gif" border="0" /></a></div>
  <div id="header_right" align="right"> <a title="CP Facebook page" href="http://www.facebook.com/pages/The-Center-for-Community-Progress/107892742580664"><img style="border: 0pt none;" src="../filebin/images/icon_facebook.gif" alt="Facebook" align="absmiddle" />&nbsp;</a> <span class="img_divider"></span> <a  href="contact-pages-12.php" class="" title="Contact" target="_self">Contact</a>
    <div id="search">
      <script>
				function isSearchSubmit(defaultValue){
					if(document.search.search_term.value == '' || document.search.search_term.value == defaultValue){
						return false;	
					}
					return true;
				}
			</script>
      <form name="search" id="search" method="get" action="search-pages-3.php" onsubmit="return isSearchSubmit('Search');">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right" valign="middle"><input type="text" name="search_term" value="Search" class="input" onfocus="this.value=''" onblur="if(this.value == '') this.value='Search'" /></td>
            <td align="right" valign="middle"><input type="image" src="filebin/images/go.gif" /></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <div id="topnav">
    <ul>
      <li><a  href="about-pages-4.php" class="" title="About" target="_self">About</a></li>
      <li><a  href="around-the-country-pages-5.php" class="" title="Around the Country" target="_self">Around the Country</a></li>
      <li><a  href="resources-pages-95.php" class="selected" title="Resources" target="_self">Resources</a></li>
      <li><a  href="the-help-you-need-pages-7.php" class="" title="The Help You Need" target="_self">The Help You Need</a></li>
      <li><a  href="policy-pages-8.php" class="" title="Policy" target="_self">Policy</a></li>
      <li><a  href="news---events-pages-9.php" class="" title="News & Events" target="_self">News & Events</a></li>
      <li><a  href="land-bank-2011-pages-119.php" class="" title="Land Bank 2011" target="_self">Land Bank 2011</a>
    </ul>
  </div>
</div>
<div id="footer_container">
  <div id="footer"> <a  href="http://www.vacantproperties.org" class="" title="National Vacant Properties Campaign" target="_blank">National Vacant Properties Campaign</a> <span class='divider'>|</span> <a  href="http://www.geneseeinstitute.org" class="" title="Genesee Institute" target="_blank">Genesee Institute</a> <span class='divider'>|</span> <a  href="http://transform.vacantproperties.org" class="" title="TransformNation" target="_blank">TransformNation</a> <span class='divider'>|</span> <a  href="photo-credits-pages-18.php" class="" title="Photo Credits" target="_self">Photo Credits</a><br />
    877.542.4842 <span class='divider'>|</span> <a  href="sitemap-pages-21.php" class="" title="Sitemap" target="_self">Sitemap</a> <span class='divider'>|</span> <a  href="privacy-policy-pages-54.php" class="" title="Privacy Policy" target="_self">Privacy Policy</a> <span class='divider'>|</span> <a  href="http://www.orbitmedia.com" class="" title="Chicago Web Design" target="_blank">Chicago Web Design</a><br />
    <div class="copyright">&copy; 2011 Center For Community Progress</div>
  </div>
</div>
</td>
<td align="right" valign="top" class="layout_right"><img src="filebin/images/container_right.gif" width="6" height="167" /></td>
</tr>
<tr>
  <td colspan="3" align="left" valign="top" class="layout_bottom">&nbsp;</td>
</tr>
</table>
</div>
</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18921152-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body></html>